body{
    
    text-align: center;
  
}
#navbar{
  justify-content: space-between;
  display: flex;
  padding: 10px 90px; 
  box-sizing: border-box; 
  
 
}
#navbar .logo {
  padding: 22px 20px;
  height: 80px;
  float: left;
  
}
/*nav links*/
#navbar a {
  float: left;
  display: block;
  color:rgb(19, 18, 18);
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#navbar a:hover {
  color: orange;
  font-size: larger;
  font-weight: bold;
}
#navbar
.content {
  padding:16px;
}
/*sticky clas added to navbar*/
.sticky {
  position: fixed;
  top: o;
  width: 100%;
}
.sticky +.content {
  padding-top: 60px;
}

header{
  color: white;
  font-family: sans-serif;
  background-image: url(https://images.unsplash.com/photo-1510146758428-e5e4b17b8b6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  height: 450px;
  position: auto ;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: center;
  background-position-x: left;
  padding-bottom: 3%;
  padding-top: 2%;
}
.container-fluid {
  background-color: whitesmoke;
  color: grey;
}
#wwa h2{
  font-weight: bolder;
}
#wwa p{
  font-size: large;
}
#wwa {

  padding-top: 3%;
  padding-bottom: 4%;
}
.vmo{
  display: flex;
  justify-content: space-evenly;
  padding-top: 4%;
  padding-bottom: 3%;
}
#sub-footer a:hover{
  color: orange;
}
#sub-footer{
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
  padding-bottom: 2%;
}
#sub-footer h3 {
  font-weight: bolder ;
}
#footer {
  font-size: larger;
  font-weight: bolder;
  padding-top:3% ;
  padding-bottom: 2%;
  background-color: black;
  color: gray;
}