body{
    
    text-align: center;
  
}
#navbar{
  overflow: hidden;
  background-color: #333;
}
/*nav links*/
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#navbar
.content {
  padding:16px;
}
/*sticky clas added to navbar*/
.sticky {
  position: fixed;
  top: o;
  width: 100%;
}
.sticky +.content {
  padding-top: 60px;
}

header{
  color: white;
  font-family: sans-serif;
  background-image: url(https://images.unsplash.com/photo-1510146758428-e5e4b17b8b6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  height: 450px;
  position: auto ;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: center;
  background-position-x: left;
  padding-bottom: 3%;
  padding-top: 2%;
}


/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */

.container-fluid {
  background-color: whitesmoke;
  color: grey;
}
#wwa h2{
  font-weight: bolder;
}
#wwa p{
  font-size: large;
}
#wwa {

  padding-top: 3%;
  padding-bottom: 4%;
}
.vmo{
  display: flex;
  justify-content: space-evenly;
  padding-top: 4%;
  padding-bottom: 3%;
}

#sub-footer{
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
  padding-bottom: 2%;
}
#sub-footer h3 {
  font-weight: bolder ;
}
#footer {
  font-size: larger;
  font-weight: bolder;
  padding-top:3% ;
  padding-bottom: 2%;
  background-color: black;
  color: gray;
}