body {
    text-align: center ;
}
#navbar{
  overflow: hidden;
  background-color: #333;
}
/*nav links*/
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#navbar a:hover {
  color: orange;
  background-color: black;
  font-size: larger;
  font-weight: bold;
}
#navbar
.content {
  padding:16px;
}
/*sticky clas added to navbar*/
.sticky {
  position: fixed;
  top: o;
  width: 100%;
}
.sticky +.content {
  padding-top: 60px;
}
.intro{
  padding-top: 4%;
}
.container-fluid{
  padding-top: 5%;
  padding-bottom: 3%;
  display: block;
  justify-content: space-around;
}
.thematics{
  display: block;
  grid: row gap 20px;
  padding-top: 4%;
}
#row{
  
}
.areas {
  margin: 0.5em;
}
#row{
  justify-content:space-around ;
  background-color: whitesmoke;
 
}
#img{
  height: 100px;
  width: 200px;
  padding-top: 3%;
}
.card-flip{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #333;
  perspective: 1000px;
} 
.card{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-flip:hover .card{
  transform:rotateY(180deg)
}
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front{
  background-color: black;
  color: orange;
}
.back{
  font-size: larger;
  background-color: whitesmoke;
  color: #333;
  transform:rotateY(180deg);
}

#sub-footer{
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
  padding-bottom: 2%;
}
#sub-footer h3 {
  font-weight: bolder ;
}
#footer {
  font-size: larger;
  font-weight: bolder;
  padding-top:3% ;
  padding-bottom: 2%;
  background-color: black;
  color: gray;
}