body{
    text-align: center;
}
.members{
    display: flex;
    justify-content: space-evenly;
}
.container-fluid{
    background-color: whitesmoke;
}
#row{
    display: flex;
    justify-content: space-evenly;
}
#sub-footer{
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
  padding-bottom: 2%;
}
#sub-footer h3 {
  font-weight: bolder ;
}
#footer{
  font-size: larger;
  font-weight: bolder;
  padding-top:3% ;
  padding-bottom: 2%;
  background-color: black;
  color: gray;
}